/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, main, footer {
    padding: 5px;
}

img {
    max-width: 80%;
    height: 300px;
}

/* Estilos específicos para mobile */

@media only screen and (max-width: 600px) {
    header h1, main h2, footer p {
        font-size: 1.2em;
    }
}

/* Estilos para o cabeçalho */

.local-titulo {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    background-color: black;
}

.titul0 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/* Estilos para os blocos de texto */

.local-texto, .local-texto2, .local-texto3, .local-texto4 {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.box, .box2, .box3, .box4 {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bio, .bio2, .bio3, .bio4 {
    font-size: 16px;
    line-height: 1.6;
}

/* Estilos para as imagens */

.img_k-dot {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para o rodapé */

.footer_conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.face_img, .insta_img, .twitter_img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.texto {
    flex-grow: 1;
}
